.poster5 {
    background-color: black;
    padding: 1rem 0;

    .freeq_ask_ques {
        
        h1 {
        
            color: white;
            font-size: 24px;
            font-weight: 500;
        }

        .accordion-section{
            margin-top: 25px;
        }
    }
    .member-ship{
        padding: 5rem 0 0;
    }
}